body {
    background-color: var(--primery-white-color);
    color: #434455;
    font-family: Roboto.......
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

cursor: pointer